# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

callgrind.out.*

core

# Executables
test
aligner
kmercomp

local_tests

TAGS

# Temporary files and output
*.tee
*.spect
temp/
